# yazi.toml
[mgr]
show_hidden = true
linemode = "size_and_mtime"

[opener]
play = [
	{ run = 'mpv "$@"', orphan = true, for = "windows" },
]
edit = [
	# { run = 'nvim --startuptime C:/Users/ian.gibson/nvim-startup.log "%1"', block = true, for = "windows" }
	# { run = 'nvim -u %USERPROFILE%\AppData\Local\nvim\init_minimal.lua %s', block = true, for = "windows" }
	 { run = 'nvim %s', block = true, for = "windows" }
]
wezterm_tab_nvim = [
	{ run = 'wezterm cli spawn -- nvim %s1', desc = "Open in New Tab", for = "windows" }
]
excel = [
	{ run = 'visidata %s1', block = true, for = "windows", desc = "visidata" }
]
wezterm_tab_visidata = [
	{ run = 'wezterm cli spawn -- visidata %s1', desc = "Open in New Tab", for = "windows" }
]
open = [
	{ run = 'xdg-open "$@"', desc = "Open", for = "linux" },
	{ run = 'start "" %s1', orphan = true, for = "windows", desc = "Open" }
]

[open]
prepend_rules = [
	{ url = "*.xlsx", use = ["excel", "wezterm_tab_visidata"] },
	{ mime = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", use = ["excel", "wezterm_tab_visidata"] },
	{ url = "*.csv",  use = "edit" },
	{ url = "*.json", use = "edit" },
	{ url = "*.sh", use = "edit" },
	{ url = "*.toml", use = "edit" },
	{ url = "*.y*ml", use = "edit" },
	{ url = "*config", use = "edit" },
	{ url = "*.cfg", use = "edit" },
	{ url = "*env", use = "edit" },
	{ url = "*.d", use = "edit" },
	{ url = "*.md", use = "edit" },
	{ url = "*.txt", use = ["edit", "wezterm_tab_nvim"] },
	{ url = ".zsh*", use = "edit" },
	{ url = "*.ini", use = "edit" },
	{ url = "*.lua", use = "edit" },
	{ url = "*.xml", use = "edit" },
	{ url = "*.log", use = "edit" },
	{ url = "*.ods", use = "open" },
	{ url = "*.pdf", use = "open" },
	{ url = "*.mp3", use = "play" }
]
append_rules = [
	{ name = "*", use = ["edit", "wezterm_tab_nvim"] }
]
